iMan/iMan.iOS/obj
iMan/iMan.Android/obj
iMan/iMan/obj
iMan/.vs
iMan/iMan/bin
iMan/iMan.Android/bin
iMan/iMan.iOS/bin
/.vs
com.mbtech.iman-Signed1.1.apk
com.mbtech.iman.1.2.apk
com.mbtech.iman1.3.apk
com.mbtech.iman1.4.apk
com.mbtech.iman1.5.apk
